{% extends 'base.html' %}
{% block main_content %}
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5">
                        <div class="col-lg-3">
                            <div class="flex-shrink-1  align-items-center mt-lg-5 mb-4">
                                {% if user.profile.profile_pic %}
                                	<img class="img-fluid rounded-circle " src="{{ user.profile.profile_pic }}" />
                                    {% else %}
                                    <img class="img-fluid rounded-circle " src="https://static.vecteezy.com/system/resources/thumbnails/002/387/693/small/user-profile-icon-free-vector.jpg" />
                                {% endif %}
                                <div class="ms-0">
                                    <div class="fw-bold">{{ profile.full_name}} </div>
                                    <div class="fw-bold">{{ user.last_name}} </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <!-- Post content-->
                            <article>
                                <!-- Post header-->
                                <header class="mb-4">
                                    <!-- Post title-->
                                    <h1 class="fw-bolder mb-3">Welcome to Profile from {{ user }}!</h1>
                                    <!-- Post meta content-->
                                    <div class="text-muted fst-italic mb-2">{{ user.date_joined }}</div>
                                    <!-- Post categories-->
                                    {% if user.is_authenticated and user.profile == profile %}
                                        <!-- Display the link to the update page -->
                                        <a href="{% url 'user_profile_edit' profile.pk %}" class="btn btn-primary mb-3">Edit profile</a>
                                    {% endif %}
                                    <h3 class="fw-bolder ">Interests</h3>
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Finance</a>
                                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Trading</a>
                                </header>
                                <section class="mb-5">
                                    <p class="fs-5 mb-4">Account Balance ${{ profile.balance }}</p>
                                </section>
                                <!-- Post content-->
                                <section class="py-5">
                                    <div class="container px-5">
                                        <div class="row gx-5">
                                        <h2 class="fw-bolder fs-5 mb-4 ">All Posts</h2>
                                            {% for post in posts %}
                                            <div class="col-lg-4 mb-5">
                                            <div class="card h-100 shadow border-0">
                                                <img class="card-img-top" src="{{ post.image }}" alt="..." />
                                                <div class="card-body p-4">
                                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                                    <a class="text-decoration-none link-dark stretched-link" href="{% url 'post_detail' post.pk %}"><div class="h5 card-title mb-3">
                                                        {{ post.title }}</div></a>
                                                    <p class="card-text mb-0">{{ post.content }}</p>
                                                </div>
                                                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                                    <div class="d-flex align-items-end justify-content-between">
                                                        <div class="d-flex align-items-center">
                                                            <div class="small">
                                                                <div class="text-muted">{{ post.created_date }}</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <h5>No posts available.</h5>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </section>
                            </article>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
{% endblock %}

