{% extends 'base.html' %}
{% block main_content %}
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Page Content-->
            <section class="py-5">
                <div class="container px-5">
                    <h1 class="fw-bolder fs-5 mb-4">Blog Posts</h1>
                    {% for post in object_list %}
                        <br>
                    <div class="card border-0 shadow rounded-3 overflow-hidden">
                        <div class="card-body p-0">
                            <div class="row gx-0">
                                <div class="col-lg-6 col-xl-5 py-lg-5">
                                    <div class="p-4 p-md-5">
                                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                                        <div class="h2 fw-bolder">{{ post.title }}</div>
                                        <p>{{ post.content }}</p>
                                        <a class="stretched-link text-decoration-none" href="{% url 'post_detail' post.pk %}">
                                            Read more
                                            <i class="bi bi-arrow-right"></i>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('{{ post.image }}')"></div></div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                        <li>No posts available.</li>
                    {% endfor %}
                </div>
            </section>
        </main>
{% endblock %}